/*============================= INFO START =============================*/

.info {
    margin-bottom: 175px;
}

.info_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 54%;
    text-align: start;
    color: rgb(49, 89, 100);
    margin-bottom: 49px;
}

.info_text {
    font-weight: 400;
    font-size: 32px;
    line-height: 81%;
    text-align: start;
    color: #666666;
    margin-bottom: 140px;
}

.info_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 78px 90px;
}

/*============================= INFO END =============================*/

/*============================= MEDIA START =============================*/

@media only screen and (max-width: 660px) {

    .info_title {
        text-align: center;
        margin-bottom: 30px;
    }

    .info_text {
        line-height: 120%;
        text-align: center;
    }
}

@media only screen and (max-width: 395px) {
    .info_title {
        font-size: 40px;
    }

    .info_text {
        font-size: 16px;
    }

    .info_list li img {
        width: 90px;
        height: 90px;
    }
}

@media only screen and (max-width: 317px) {
    .info_title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 246px) {
    .info_title {
        font-size: 25px;
    }

    .info {
        margin-bottom: 50px;
    }
}

/*============================= MEDIA END =============================*/