/*============================= HEADER START =============================*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    margin-bottom: 220px;
    z-index: 13;
}

.header::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #00a5ec 2.6%, #e70faa 100%);
    z-index: 12;
}

.header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_box img {
    object-fit: cover;
    opacity: 0.8;
}

.header_list {
    display: flex;
    align-items: center;
    gap: 0 67px;
}

.header_link {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #666666;
}

.header_list-right {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.header_box div {
    display: flex;
    align-items: center;
    gap: 0 51px;
}

.header_btn {
    background-color: transparent;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

/*============================= HEADER END =============================*/

/*============================= MEDIA START =============================*/

@media only screen and (max-width: 951px) {
    .header_item-right {
        display: none;
    }

    .header_btn {
        display: inline-block;
    }
}

@media only screen and (max-width: 818px) {
    .header_list {
        display: none;
    }

    .header {
        margin-bottom: 150px;
    }

}

/*============================= MEDIA END =============================*/